h3 {
  font-size: 18px;
  font-weight: bold;
}
.container{
  width: 95%;
  margin: 0 auto;
}
.verified-status{
  font-style: italic;
}

.tweet{
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 16px;
}

.tweet-text{
  margin-top: 6px;
  margin-bottom: 6px;
}
.quoted-tweet{
  background-color: #F2F2F2;
  border: 1px solid grey;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 16px;
}

.btn-delete-tweet{
  background-color: #ff6666;
  font-size: 18px;
  border: 2px solid black;
  min-width: 25%;
  align-self: flex-end;
}
.user-container{
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 16px;
}
